@inherits AdminCompontentBase

<ExpansionWrapperUnique ValueChanged="ValueChangedAsync"
                        Value="ExpansionWrapperUniqueValue"
                        Checkable
                        Categories=_categories
                        FavoriteNavs=new()
                        Class="@Class"
                        Style="@Style" />

<DefaultSheetDialog Value="Preview" ValueChanged="PreviewChanged" Title="@T("Preview Permissions")">
   <AutoHeight>
        <AutoHeightContent>
            <div class="global-nav" style="max-height:calc(100vh - 230px);">
                <ExpansionWrapperUnique Value="ExpansionWrapperUniqueValue"
                                        Categories=_categories
                                        InPreview=Preview />
            </div>
        </AutoHeightContent>
        <FooterContent>
            <div class="d-flex mt-6">
                <MSpacer />
                <SButton OnClick="async() => await PreviewChanged.InvokeAsync(false)" Medium Outlined>
                    @T("Back")
                </SButton>
            </div>
        </FooterContent>
    </AutoHeight>
</DefaultSheetDialog>