@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add Position")">
    <MForm Model=Position EnableValidation @ref="Form">
        <div class="sheetDialogPadding full-height flex-column">
            <div class="mt-6 flex-height-auto overflow-y">
                <div class="text-subtitle2">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MCol>
                        <DefaultTextField @bind-Value="Position.Name" Label="@T("Position.Name")" />
                    </MCol>
                </MRow>
            </div>
            <div class="d-flex mt-6">
                <MSpacer></MSpacer>
                <MButton OnClick="async () => await AddPositionAsync(context)" Color="primary" Class="small-button">@T("Submit")</MButton>
            </div>
        </div>
    </MForm>
</SheetDialog>