@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add Position")">
    <MForm Model=Position EnableValidation @ref="Form">
        <AutoHeight Overflow AutoClass="mt-6">
            <AutoHeightContent>
                <DefaultTitle Class="mb-6">@T("Basic Information")</DefaultTitle>
                <MRow>
                    <MCol>
                        <DefaultTextField @bind-Value="Position.Name" Label="@T("Position.Name")" />
                    </MCol>
                </MRow>
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <MSpacer></MSpacer>
                    <DefaultButton Medium OnClick="async () => await AddPositionAsync(context)">@T("Submit")</DefaultButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>