@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add Position")">
    <MForm Model=Position EnableValidation EnableI18n>
        <AutoHeight Overflow AutoClass="mt-6">
            <AutoHeightContent>
                <DefaultTitle Class="mb-4">@T("Basic Information")</DefaultTitle>
                <STextField @bind-Value="Position.Name" Label="@T("Name")" />
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <MSpacer></MSpacer>
                    <SButton Medium OnClick="async () => await AddPositionAsync(context.EditContext)">@T("Submit")</SButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>