@inherits AdminCompontentBase

<SSelect Value="Value"
               ValueChanged="ValueChanged"
               Items="RegisterFields.Where(e => e==Value || Excludes.Contains(e) is false).ToList()"
               ItemText="e => T(e==default?string.Empty:e.ToString())"
               ItemValue="e => e"
               Disabled=Disabled
               Style="@($"{Style}")"
               Class="@($"{Class}")">
    <ItemContent Context="data">
        <span class="body2 emphasis2--text ml-2">@T(data.Item.ToString())</span> 
    </ItemContent>
</SSelect>