@page "/account/logout/index"
@page "/account/logout"

@inherits SsoCompontentBase
@inject IIdentityServerInteractionService _interaction
@layout SimpleLayout

<div class="d-flex align-center flex-column">
    <h4 class="neutral-lighten-2--text">@T("Logout")</h4>
    <h7 class="neutral-lighten-3--text mb-12 mt-3">@T("LogoutConfirm")</h7>
    <MButton Class="primary rounded-pill" Width="162" Height="56" OnClick="Logout">@T("Yes")</MButton>
</div>

