@page "/account/logout/index"
@page "/account/logout"

@inherits SsoCompontentBase
@inject IHttpContextAccessor _httpContextAccessor
@inject IIdentityServerInteractionService _interaction

<div>
    <div class="lead">
        <h5>@T("Logout")</h5>
        <p>@T("LogoutConfirm")</p>
    </div>
    <MButton class="primary" OnClick="Logout">@T("Yes")</MButton>
</div>

