@page "/account/logout/index"
@page "/account/logout"

@inherits SsoCompontentBase
@inject IHttpContextAccessor _httpContextAccessor
@inject HttpClient _httpClient

<div>
    <div class="lead">
        <h1>Logout</h1>
        <p>Would you like to logout of IdentityServer?</p>
    </div>
    <MButton class="primary" OnClick="Logout">Yes</MButton>
</div>

