@page "/account/logout/loggedout"
@using Microsoft.JSInterop

@inherits SsoCompontentBase
@inject IJSRuntime jsRuntime;
@inject IIdentityServerInteractionService _interaction;
@inject ILocalStorageService _localStorage
@layout SimpleLayout

<div>
    <h4 class="neutral-lighten-2--text text-center">
        @T("LogoutSuccessed")
    </h4>

    @if (_viewModel.PostLogoutRedirectUri != null)
    {
        <MButton Class="primary rounded-pill mt-12" Width="360" Height="56" Href="@_viewModel.PostLogoutRedirectUri">
            <MIcon Left>
                mdi-arrow-left
            </MIcon>
            @_viewModel.ClientName
        </MButton>
    }

    @if (_viewModel.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@_viewModel.SignOutIframeUrl"></iframe>
    }
</div>