@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("User roles and permissions settings")">
    <AutoHeight Overflow>
        <HeaderContent>
            <div class="height:55px;">
                <RoleSelectForUser Class="mb-13" @bind-Value="Authorization.Roles" />
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <div class="global-nav" style="display: flex;height: auto">
                <PermissionsCheck RoleIds=Authorization.Roles
                                  Value="@(Authorization.Permissions.ToDictionary(p => p.PermissionId,p => p.Effect))"
                                  ValueChanged="PermissionsChanged" />
            </div>
        </AutoHeightContent>
        <FooterContent>
            <div class="d-flex mt-6">
                <MSpacer></MSpacer>
                <DefaultButton Medium Outlined OnClick="() => Preview = true">@T("Preview")</DefaultButton>
                <DefaultButton Medium Class="ml-6" OnClick="async () => await UpdateAuthorizationAsync()">@T("Submit")</DefaultButton>
            </div>
        </FooterContent>
    </AutoHeight>
</DefaultSheetDialog>

<PermissionsPreview @bind-Show="Preview" Value="Authorization.Permissions.Where(p => p.Effect is true).Select(p => p.PermissionId.ToString()).ToList()" />
