@namespace Masa.Stack.Components
@inherits MasaComponentBase

<MTooltip Top>
    <ActivatorContent>
        <span class="m-chip m-size--small m-chip--label theme--light secondary @Class" @attributes="@context.Attrs">@(Offset.Hours > 0 ? $"+{Offset.Hours}" : Offset.Hours.ToString())</span>
    </ActivatorContent>
    <ChildContent>
        <span>@(T(scope: DateTimeRangeScope, "Current Selected TimeZone"))</span>
    </ChildContent>
</MTooltip>

@code {

    [Parameter]
    public TimeSpan Offset { get; set; }
}
