.m-sheet-dialog-overlay {
    background-color: #141726 !important;
    opacity: 0.8;
}

    .m-sheet-dialog-overlay:hover {
        background-color: #141726 !important;
        opacity: 0.9;
        cursor: pointer;
    }

