@using Microsoft.AspNetCore.Components.Rendering
@inherits LayoutComponentBase
@inject GlobalConfig GlobalConfig
@implements IDisposable

<MApp Class="masa-stack-components masa">
    <MAppBar Elevation=0 App MaxHeight=60 Class="mx-6 rounded-b-4">
        <Favorite />
        <MSpacer />
        <Search />
        <MIcon Size=20 Class="ml-5" Color="default-regular-secondary">mdi-message-processing-outline</MIcon>
        <Language />
        <Login />
    </MAppBar>

    <Navigation />

    <MMain Class="emphasis2--text" Style="padding-top:60px">
        <MErrorHandler OnErrorHandleAsync="OnError">
            <div class="pa-6 max-width full-height">
                @Body
            </div>
        </MErrorHandler>
        <MLoading />
        <MConfirmDialog />
    </MMain>
</MApp>

@code {
    [Inject]
    public IPopupService PopupService { get; set; } = default!;

    Task OnError(Exception exception)
    {
        PopupService.AlertAsync(exception.Message, AlertTypes.Error);
        GlobalConfig.Loading = false;
        return Task.CompletedTask;
    }

    protected override void OnInitialized()
    {
        GlobalConfig.OnPageModeChanged += base.StateHasChanged;
    }

    public void Dispose()
    {
        GlobalConfig.OnPageModeChanged -= base.StateHasChanged;
    }
}