@using Masa.BuildingBlocks.Identity.IdentityModel
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Rendering
@inherits LayoutComponentBase
@inject GlobalConfig GlobalConfig

<Layout AppId="Masa_Auth_Web"
        UserCenterRoute="/user"
        Logo="https://cdn.masastack.com/stack/images/logo/MASAStack/logo-h-en.png"
        MiniLogo="https://cdn.masastack.com/stack/images/logo/MASAStack/logo.png">
    <MErrorHandler OnErrorHandleAsync="OnError">
        <div class="pt-6 full-height">
            @Body
        </div>
    </MErrorHandler>
</Layout>

@code {
    [Inject]
    public IPopupService PopupService { get; set; } = default!;

    Task OnError(Exception exception)
    {
        PopupService.AlertAsync(exception.Message, AlertTypes.Error);
        GlobalConfig.Loading = false;
        return Task.CompletedTask;
    }
}