
<MCheckbox @bind-Value="ScopeViewModel.Checked" Disabled="ScopeViewModel.Required" TValue="bool">
    <LabelContent>
        <strong>@ScopeViewModel.DisplayName</strong>
        @if (ScopeViewModel.Emphasize)
        {
            <MIcon Size="16" Class="ml-2">mdi-alert-circle</MIcon>
        }
        @if (ScopeViewModel.Required)
        {
            <span><em>(required)</em></span>
        }
    </LabelContent>
</MCheckbox>

@*@if (ScopeViewModel.Description != null)
    {
    <div class="consent-description">
    <label for="scopes_@ScopeViewModel.Value">@ScopeViewModel.Description</label>
    </div>
    }*@

@code {
    [Parameter]
    public ScopeViewModel ScopeViewModel { get; set; } = new();

    [Parameter]
    public EventCallback<ScopeViewModel> ScopeViewModelChanged { get; set; }
}
