@inherits AdminCompontentBase

<MContainer Style="overflow-y: auto;">
    <MRow>
        @if (Dto.Id == Guid.Empty)
        {
            <MCol Md=12>
                <DefaultTextField @bind-Value="Dto.ClientId" Label="ClientId" />
            </MCol>
        }
        <MCol Md=12>
            <DefaultTextField @bind-Value="Dto.ClientName" Label="ClientName" />
        </MCol>
        <MCol Md=12>
            <DefaultTextField @bind-Value="Dto.Description" Label="Description" />
        </MCol>
    </MRow>
    @if (Dto.Id != Guid.Empty)
    {
        <MRow>
            <MCol Md=12>
                <MCheckbox @bind-Value="Dto.Enabled" Label="Enabled"></MCheckbox>
            </MCol>
            <MCol Md=12>
                <MCheckbox @bind-Value="Dto.RequireRequestObject" Label="RequireRequestObject"></MCheckbox>
            </MCol>
            <MCol Md=12>
                <DefaultTextField @bind-Value="Dto.AllowedCorsOrigin" Label="AllowedCorsOrigins" AppendOuterIcon="mdi-plus" />
            </MCol>
            @foreach (var origin in Dto.AllowedCorsOrigins)
            {
                <MCol Md=12 Class="d-flex">
                    <MTextField Dense HideDetails="true" Value="origin" Disabled Class="flex-grow-1" />
                    <MIcon Class="ml-2" OnClick="()=>RemoveAllowedCorsOrigin(origin)">mdi-close-circle</MIcon>
                </MCol>
            }
            <MCol Md=12>
                <h4>Properties</h4>
                <MRow>
                    <MCol Md=6>
                        <DefaultTextField TValue="string" Label="Key" />
                    </MCol>
                    <MCol Md=6>
                        <DefaultTextField TValue="string" Label="Value" />
                    </MCol>
                    <MCol Class="d-flex justify-end">
                        <MButton>Add New</MButton>
                    </MCol>
                    <MCol Md=12>
                        <MDataTable Headers="_headers" Items="new List<ClientSecretDto>()" TItem="ClientSecretDto" HideDefaultFooter DisablePagination Class="table-border-none">
                            <HeaderColContent Context="header">
                                <span class="text-btn">@header.Text</span>
                            </HeaderColContent>
                            <ItemColContent>
                                @switch (context.Header.Value)
                                {
                                    case "Action":
                                        <MIcon Small Color="neutral-lighten-2" Class="ml-7">mdi-shield-half-full</MIcon>
                                        break;
                                    default:
                                        <span class="text-body3">@context.Value</span>
                                        break;
                                }
                            </ItemColContent>
                        </MDataTable>
                    </MCol>
                </MRow>
            </MCol>
        </MRow>
    }
</MContainer>


@code {
    [Parameter]
    public ClientBasicDto Dto { get; set; } = new();

    [Parameter]
    public EventCallback<ClientBasicDto> DtoChanged { get; set; }

    public List<DataTableHeader<ClientSecretDto>> _headers { get; set; } = new()
    {
        new() { Text = "Type", Value = nameof(ClientSecretDto.Type), Sortable = false },
        new() { Text = "Value", Value = nameof(ClientSecretDto.Value), Sortable = false },
        new() { Text = "", Value = "Action", Sortable = false },
    };
    
    private void RemoveAllowedCorsOrigin(string val)
    {
        Dto.AllowedCorsOrigins.Remove(val);
    }
}
