@inherits AdminCompontentBase

<MCard Class="full-height d-flex flex-column">
    <MCardText Class="full-height">
        <MRow>
            <MCol Md=6>
                <MRadioGroup @bind-Value="AppTagDto.Tag" Label="@I18n.T("Application Group")">
                    @foreach (var _appTag in _appTags)
                    {
                        <MRadio Label="@_appTag" Value="@_appTag"></MRadio>
                    }

                </MRadioGroup>
            </MCol>
            <MCol Md="12">
                <span>
                    说明：请选择应用归属分组（只能存在于一个分组中）
                    <br/>
                    添加分组标签请去DCC中添加
                </span>
            </MCol>
        </MRow>
    </MCardText>
    <MCardActions class="d-flex justify-end mb-10 px-6">
        <MButton class="rounded-pill primary" MinWidth="100" OnClick="OnSaveHandler">@T("Save")</MButton>
    </MCardActions>
</MCard>

@code {

    [Parameter]
    public EventCallback<AppTagDetailDto> OnSave { get; set; }

    [Parameter]
    public AppTagDetailDto AppTagDto { get; set; } = new();

    List<string> _appTags = new();
    ProjectService ProjectService => AuthCaller.ProjectService;

    protected override async Task OnInitializedAsync()
    {
        _appTags = await ProjectService.GetAppTagsAsync();
        await base.OnInitializedAsync();
    }

    private async Task OnSaveHandler()
    {
        if (OnSave.HasDelegate)
        {
            await OnSave.InvokeAsync(AppTagDto);
            await PopupService.AlertAsync(T("Application Group save successed"), AlertTypes.Success);
        }
    }
}