@inherits AdminCompontentBase

@if (Avatars.Count > 0)
{
    <DefaultTitle>@T("Authorization certification")</DefaultTitle>
    <div>
        @foreach (var avatar in Avatars)
        {
            <img height=24 width=24 src="@avatar" class="ml-7" />
        }
    </div>
}