@inherits AdminCompontentBase

@if (Avatars.Count > 0)
{
    <DefaultTitle>@T("Authorization certification")</DefaultTitle>
    <div class="d-flex">
        @foreach (var avatar in Avatars)
        {
            if(avatar.StartsWith("mdi"))
            {
                <SIcon Size="24" Class="my-auto">@avatar</SIcon>
            }
            else
            {
                <img height=24 width=24 src="@avatar" class="ml-4 my-auto" />
            }         
        }
    </div>
}