@inherits AdminCompontentBase

@if (Avatars.Count > 0)
{
    <div class="mt-6 subtitle2 regular--text">@T("Authorization certification")</div>
    <div class="mt-4">
        @foreach (var avatar in Avatars)
        {
            <img height=24 width=24 src="@avatar" class="ml-7" />
        }
    </div>
}