@inherits AdminCompontentBase

<div class="d-flex">
    @foreach (var chunk in Chunks)
    {
        <div class="d-flex ma-auto">
            @foreach (var item in chunk)
            {
                if (item.Scheme == ThirdPartyIdpTypes.Customize.ToString())
                {
                    <UploadAvatar Class="mx-2" Size="80" Value="@item.Icon" ValueChanged="async value => {item.Icon =value;await UpdateValueAsync(item);}" WhenFileChangeUpload />
                }
                else
                {
                    <MAvatar Size="80" Class="mx-2" @onclick="async() => await UpdateValueAsync(item)">
                        <img src="@item.Icon" />
                    </MAvatar>
                }
            }
        </div>
    }
</div>
