@inherits AdminCompontentBase

 <div class="d-flex">
    <MTextField @bind-Value="Value" Label="@T("Password")" HideDetails="@("auto")" Outlined>
        <AppendContent>
            <PCopyableText Class="ml-n9" Text="@Value" />
        </AppendContent>
    </MTextField>
    <MButton OnClick="ResetPassword" Color="primary" Class="ml-n2 font-14-medium" Style="width:20%;max-width:100px;height:46px;border-radius: 0px 7px 7px 0px;">
        @T("Reset")
    </MButton>
</div>