@inherits AdminCompontentBase

<div class="@Class subtitle2 regular--text">
    @ChildContent
</div>

@code{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Class = "mb-4 mt-6";
    }
}
