@inherits AdminCompontentBase

<PConfirm Visible="Visible"
          Title="@T("Confirm changing the password?")"
          Type="AlertTypes.Warning"
          OnCancel="CancelAsync"
          OnOk="OkAsync">
   <div class="text-center">
       <DefaultTextField @bind-Value="ConfirmText" Label="@T("")" />
   </div>
</PConfirm>