@inherits STextField<string>

<div class="d-flex">
    @base.BuildRenderTree
    <MButton OnClick="OnResetPasswordAsync" Color="primary" Class="ml-n2 body2" Style="height:46px;border-radius: 0px 7px 7px 0px;">
        @I18n.T("Reset Password")
    </MButton>
</div>

@if (!DisableConfirmDialog)
{
    <SPasswordConfirmation OnOk="ResetPasswordAsync" @bind-Visible=ConfirmDialogVisible ConfirmText="@I18n!.T("ConfirmChangePassword")" />
}