@namespace Masa.Stack.Components.UserCenters
@inherits MasaComponentBase

<div class="auths">
    <MDivider>
        <span class="regular3--text caption" style="line-height: 1px !important">@T("Auths")</span>
    </MDivider>
    <div class="d-flex" style="justify-content: space-around; flex-wrap: wrap;">
        <AuthIcon>mdi-card-account-details-outline</AuthIcon>
        <AuthIcon>mdi-cellphone</AuthIcon>
        <AuthIcon>mdi-wechat</AuthIcon>
        <AuthIcon>mdi-email</AuthIcon>
    </div>
</div>
