@namespace Masa.Stack.Components
@inherits STextField<string>

<div class="d-flex">
    @base.BuildRenderTree
    <MButton OnClick="() => Visible = true" Color="primary" Class="ml-n2 body2" Style="height:46px;border-radius: 0px 7px 7px 0px;">
        @I18n.T("Reset Password")
    </MButton>
</div>

<SPasswordConfirmation OnOk="ResetPasswordAsync" @bind-Visible=Visible ConfirmText="@I18n!.T("I confirm to change the password")" />
