@namespace Masa.Stack.Components
@inherits MasaComponentBase

<SConfirm Visible="Visible"
            Title="@T("Operational qualification")"
            Type="AlertTypes.Error"
            OnCancel="CancelAsync"
            OnOk="OkAsync">
    <ChildContent>
        <div>
            <div>@string.Format(@T("Enter \"{0}\" in the input box below to confirm the operation"),ConfirmText)</div>
            <STextField @bind-Value="WriteText" ErrorMessages="ErrorMessages" Class="mt-6" Label="@(T("Please enter：")+ ConfirmText)" />
        </div>
    </ChildContent>
</SConfirm>
