/*scrollbar*/
::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}

.border-b-solid {
    /* 分割线/下 */
    box-shadow: inset 0px -1px 0px #F0F3FA !important;
}

.rounded-2 {
    border-radius: 10px !important;
}

.rounded-4 {
    border-radius: 20px !important;
}

.rounded-b-4 {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.rounded-r-1 {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.block-center {
    /*flex 布局*/
    display: flex;
    /*实现垂直居中*/
    align-items: center;
}

.block-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    min-width: 40px;
    min-height: 40px;
    border: 1px solid #F0F3FA;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

/*组件样式全局修改start*/
.m-window {
    position: initial !important;
}


.theme--light.m-timeline .m-timeline-item__dot {
    background: none !important;
}

.m-timeline-item__dot {
    box-shadow: none !important;
}

.m-timeline-item__inner-dot {
    background: white !important;
    margin-top: 0px !important;
}

.button-group {
    background: #F6F8FD !important;
}

.hover-background {
    background: #F6F8FD !important;
}

.button-group-active {
    background: #F4F1FF !important;
}

.m-radio i {
    font-size: 21px !important;
}

.m-messages {
    min-height: 0px !important;
    margin-top: 4px;
}

.m-input--checkbox .mdi-checkbox-blank-outline {
    color: #A3AED0 !important;
    caret-color: #A3AED0 !important;
}

.theme--light .m-input--is-disabled .mdi-checkbox-blank-outline {
    color: #E9EDF7 !important;
    caret-color: #E9EDF7 !important;
}

.theme--light .m-input--is-disabled .mdi-checkbox-marked {
    color: #E9EDF7 !important;
    caret-color: #E9EDF7 !important;
}

.m-input--checkbox .m-input--selection-controls__ripple:before {
    content: none;
}

.m-input--selection-controls__input:hover .mdi-checkbox-blank-outline {
    color: #4318FF !important;
    caret-color: #4318FF !important;
}

.m-radio .mdi-radiobox-blank {
    color: #A3AED0 !important;
    caret-color: #A3AED0 !important;
}


.table-header-fill .m-data-table-header tr {
    background: #F6F8FD;
}

.table-border-solid td, th {
    border-bottom: 0 !important;
    box-shadow: none;
}

.masa-stack-components .combox:hover {
    background-color: #F6F8FD !important;
    cursor: pointer;
}

.masa-stack-components .border-none {
    border: none !important;
}

.remove-click-color .m-list-item:before {
    content: none !important;
}

.primaryText .primaryText {
    color: #4318FF !important;
    caret-color: #4318FF !important;
}

.m-pagination__navigation, .m-pagination__item {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%) !important;
}

.m-btn--is-elevated {
    box-shadow: none !important;
}

.m-menu__content {
    border: 0.5px solid #E9EDF7;
    box-sizing: border-box;
    border-radius: 10px !important;
    box-shadow: 0 18px 40px 0 rgb(112 144 176 / 12%) !important;
}

.hide-shadow {
    box-shadow: none !important;
    border: none;
}

.search {
    width: 340px;
}

/* pagetabs */
.m-page-tabs .m-slide-group__prev.m-slide-group__prev--disabled {
    flex: none !important;
    min-width: 0px !important;
}

.label .m-label {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
    color: #A3AED0 !important;
}

.button-group-active {
    background: #ECE8FF !important;
}

.m-text-field.m-input--dense:not(.m-text-field--outlined) .m-text-field__prefix, .m-text-field.m-input--dense:not(.m-text-field--outlined) .m-text-field__suffix, .m-text-field.m-input--dense:not(.m-text-field--outlined) input {
    padding-top: 0;
}

/*.m-stepper__items {
    height: 100%;
}

.m-stepper__content {
    height: 100%;
}

.m-stepper__wrapper.active {
    height: 100%;
}

.m-stepper__content {
    height: 100%;
}*/

.m-text-field--outlined input {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    color: #7681AB !important;
}

.m-timeline {
    padding-top: 0 !important;
}

.m-timeline-item {
    padding-bottom: 0 !important;
}

    .m-timeline-item .m-timeline-item__divider {
        height: 23px !important;
    }

.m-stepper__wrapper {
    height: 100% !important;
}

.max-height {
    height: 100% !important;
}

.max-width {
    width: 100% !important;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.hide {
    display: none;
}

.card-text {
    line-height: 1.5rem;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.m-tabs-bar {
    height: 28px;
}

.pro-nav > .m-tabs-bar {
    background-color: transparent !important;
}

.pro-nav .m-tab:before {
    background-color: transparent;
}

.m-btn {
    text-transform: none !important;
}

.list-unstyled {
    list-style: none;
}

.vertical-center {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.linear-gradient-purple {
    background: linear-gradient(118deg,#7367f0,rgba(115,103,240,.7))
}

.grey-bg {
    background-color: #f8f8f8;
}

.hover-pointer {
    cursor: pointer;
}

.justify-text-align {
    text-align: justify !important;
}

.relate-group .m-icon {
    font-size: 40px;
}

.relate-group .m-slide-group__next {
    margin-left: 10px;
}

.pointer-events-none {
    pointer-events: none;
}

.mtab-tab-linear-primary {
    background: linear-gradient(270deg, #4318FF 5.56%, rgba(67, 24, 255, 0) 100%);
}

.mtab-tab-linear-default-emphasis {
    background: linear-gradient(270deg, #E9EDF7 0%, rgba(233, 237, 247, 0) 100%);
}

.mtab-tab-line {
    align-self: stretch;
    margin: 10px 0px;
    width: 87px;
    height: 6px;
    border-radius: 60px;
}

.mtab-tab-indicator {
    margin-top: 3px;
    margin-left: -1px;
    align-self: stretch;
    width: 22px;
    height: 22px;
}

.mtab-tab-indicator-primary {
    border: 4px solid #4318FF;
    box-sizing: border-box;
}

.mtab-tab-indicator-default-emphasis {
    background: #F0F3FA;
    border: 4px solid #A3AED0;
    box-sizing: border-box;
}

.mtab-tab-title {
    position: absolute;
    top: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1B2559;
}

.auto-width {
    width: auto;
    margin: 0px 8px;
}

.hidden-webkit-scrollbar::-webkit-scrollbar {
    display: none;
}

.hidden-webkit-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    overflow-y: scroll;
}

.theme--light.m-text-field--outlined.regular3--text > .m-input__control > .m-input__slot fieldset {
    color: #A3AED0 !important;
}

.task-search.m-text-field > .m-input__control > .m-input__slot:before, .m-text-field > .m-input__control > .m-input__slot:after {
    width: 0 !important;
}

.task-search.m-text-field > .m-input__control > .m-input__slot:before, .m-text-field > .m-input__control > .m-input__slot:after {
    width: 0 !important;
}

.hide-timeline-before.m-timeline:before {
    content: none;
}

.pro-timeline-before.m-timeline:before {
    background-color: #E9EDF7 !important;
}


.divider-align-start .m-timeline-item__divider {
    align-items: start;
    margin-top: 8px;
}

td.text-center .m-input--checkbox .m-input__slot {
    justify-content: center !important;
}

.m-divider {
    border-color: #E9EDF7 !important;
}

.m-application .elevation-6 {
    box-shadow: 0 18px 40px 0 rgb(112 144 176 / 12%) !important;
}

.task-datepicker {
    border-radius: 0px !important;
}

input::-webkit-input-placeholder {
    color: #7681AB !important;
    font-size: 12px !important;
}

.m-data-table-header__icon {
    position: absolute !important;
}

.default .m-data-table-header__icon {
    margin-top: 1px;
}

.default-lighten-icon .m-icon {
    color: #A3AED0 !important;
}

.m-timeline-flat .m-timeline-item__dot {
    box-shadow: none;
}

.chip-text {
    font-style: normal !important;
    font-weight: bold !important;
}

.m-application .remover-ripple a {
    color: #4318FF !important;
}

.remover-ripple .m-list-item:before {
    content: none !important;
}

.remover-ripple .m-ripple__container {
    opacity: 0 !important;
}

.remover-ripple .m-list-item:hover .m-list-item__title {
    color: #4318FF !important;
}

.remover-ripple-with-icon .m-list-item:hover .m-icon {
    color: inherit !important;
}

.cyan {
    background-color: #37A7FF !important;
}

.cyan--text {
    color: #37A7FF !important;
}

.cyan-light {
    background-color: #EBF6FF;
}

.theme--light.m-icon {
    color: #7681AB;
}

.invoice-list-avatar {
    width: 32px;
    height: 32px;
    font-size: .857rem;
    font-weight: 600;
}

.pagetabs .m-item-group.m-slide-group.m-tabs-bar {
    margin-top: 4px;
}

.m-page-tabs .m-page_tab {
    background-color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    /* text/3-1次要 */
    color: #A3AED0 !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.m-page_tab .m-icon {
    color: #A3AED0 !important;
    font-size: 16px !important;
}

.m-page_tab_active {
    background-color: #F0F3FA !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    /* text/1-1强调 */
    color: #1B2559 !important;
}

    .m-page_tab_active > .m-icon {
        color: #1B2559 !important;
    }

.m-page-tabs > .m-tabs-bar {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    height: 36px;
    padding-left: 16px;
}

.m-page-tabs .m-tab:before {
    content: none !important;
}

.m-page-tabs .m-tab:hover {
    background-color: #F6F8FD;
    color: #485585 !important;
}

    .m-page-tabs .m-tab:hover > .m-icon {
        color: #485585 !important;
    }

.m-app-bar.rounded-b-4 > .m-toolbar__content {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.m-input.mx-auto .m-text-field__slot {
    padding-bottom: 2px;
}


.m-input.mx-auto .m-input__slot::before {
    border-color: #E2E7F4 !important;
}

.m-input.mx-auto .m-text-field__slot input {
    text-align: center;
    color: #A3AED0 !important;
    font-family: Roboto !important;
    font-size: 1.5rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    letter-spacing: 0em !important;
}

    .m-input.mx-auto .m-text-field__slot input::placeholder {
        text-align: center;
        color: #A3AED0 !important;
        font-family: Roboto !important;
        font-size: 1.5rem !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: normal !important;
        letter-spacing: 0em !important;
    }


.m-data-table.table-space-v-4 > .m-data-table__wrapper > table {
    border-spacing: 0px 16px !important;
}

.m-data-table.table-space-v-2 > .m-data-table__wrapper > table {
    border-spacing: 0px 8px !important;
}

.justify-center.m-input--checkbox > .m-input__control {
    flex-grow: 0 !important;
    width: auto !important;
}

.remover-hover.m-list-item:hover::before {
    opacity: 0 !important;
}

.m-chip:not(.m-chip--active) {
    background: #f6f8fd !important;
}

.m-chip.theme--light.m-chip--select {
    background: #f6f8fd !important;
}

.max-full-height {
    max-height: 100% !important;
}

.m-stepper__content.full-height .m-stepper__wrapper {
    height: 100% !important;
}

.m-window.m-item-group.flex-grow-1 .m-window__container {
    height: 100% !important;
}

.full-height.d-flex.flex-column .m-data-table__wrapper {
    flex-grow: 1 !important;
}

.m-text-field.m-text-field--solo.elevation-0:not(.m-text-field--solo-flat) > .m-input__control > .m-input__slot {
    box-shadow: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.flex-height-auto {
    flex: auto;
}

.overflow-y {
    overflow-y: scroll;
    overflow-x: hidden;
}

.sheetDialogPadding {
    padding-left: 228px;
    padding-right: 228px;
    padding-bottom: 48px;
    padding-top: 48px;
    height: 100%;
    width: 100%;
    position: absolute;
}

    .sheetDialogPadding .m-stepper__content {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }

.m-stepper__content.full-height .m-stepper__wrapper {
    height: 100% !important;
}

.m-window.m-item-group.flex-grow-1 .m-window__container {
    height: 100% !important;
}

.full-height.d-flex.flex-column .m-data-table__wrapper {
    flex-grow: 1 !important;
}

.m-text-field.m-text-field--solo.elevation-0:not(.m-text-field--solo-flat) > .m-input__control > .m-input__slot {
    box-shadow: none;
}

.px-sheet-dialog {
    padding-right: 228px;
    padding-left: 228px;
}

.login {
    background: #FFFFFF;
    box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
    border-radius: 20px;
}

    .login .m-tabs-slider-wrapper {
        top: 0;
        height: 4px !important;
    }

    .login .m-slide-group__wrapper {
        height: 70px !important;
    }

.uploadImage {
    cursor: pointer;
}

    .uploadImage input[type=file] {
        opacity: 0;
        pointer-events: none;
        width: 0;
        max-width: 0;
    }

.margin-border {
    border: 1px solid #E2E7F4;
    border-radius: 8px;
}

.m-text-field.m-input--is-disabled .m-input__slot::before {
    border: none !important;
}

.border-btn {
    background-color: white !important;
    border: 2px dashed #E2E7F4;
    border-radius: 8px;
}

.defaultTab .m-item-group.theme--light.m-btn-toggle.m-btn-toggle--borderless.m-btn-toggle--dense.labeled-radio-group {
    position: absolute;
    z-index: 6;
}

.defaultTab .m-window.m-item-group.full-width.mx-1 {
    height: 100%;
}

.masa-stack-components .m-sheet.m-stepper:not(.m-sheet--outlined) {
    box-shadow: none !important;
    height: 100% !important;
    width: 100% !important;
}

.masa-stack-components form {
    height: 100% !important;
    width: 100% !important;
}

.theme--light.m-btn--active:hover::before, .theme--light.m-btn--active::before {
    /* opacity: 0.18; */
    opacity: 0.00000000000000001 !important;
}

.masa-stack-components .m-input__control {
    min-height: 40px !important;
}

.masa-stack-components .labeled-radio-group {
    padding: 2px;
}

.masa-stack-components .m-chip {
    padding: 0 14px;
}

.masa-stack-components .m-input--selection-controls {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.masa-stack-components .defaultRadio label {
    color: #1B2559 !important;
    font-size: 0.875rem !important;
    font-weight: 700 !important;
    line-height: 1.3125rem !important;
    letter-spacing: 0em !important;
}

.masa-stack-components .m-messages.theme--light.error--text {
    margin-top: 10px !important;
    font-size: 0.625rem !important;
    font-weight: 400 !important;
    line-height: 0.9375rem !important;
    letter-spacing: 0 !important;
    text-transform: none !important;
}

.teamSwitch .roles {
    height: 48px;
    width: 100%;
    border: 1px solid #E2E7F4;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.teamSwitch .role {
    background: #F6F8FD;
    border-radius: 18px;
    padding: 2px 8px;
}

.teamSwitch .m-input--dense-48 .m-input__control .m-input__slot fieldset {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-right-width: 0 !important;
}

@keyframes show {
    from {
        opacity: 0;
        height: 0px;
        margin-top: 0px;
    }

    to {
        opacity: 1;
        height: 40px;
        margin-top: 28px;
    }
}

.show {
    margin-top: 28px;
}

.showAnimation {
    animation-name: show;
    animation-duration: 0.8s;
}

@keyframes hide {
    from {
        opacity: 1;
        height: 40px;
        margin-top: 28px;
    }

    to {
        opacity: 0;
        height: 0;
        margin-top: 0px;
    }
}

.close {
    height: 0;
    visibility: hidden;
}

.closeAnimation {
    animation-name: hide;
    animation-duration: 0.8s;
}

.masa-stack-components .table-border-none tr td:not(:last-child) > *:not(.description) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}

/*
    urlTextField
*/

.urlTextField .m-input__prepend-outer {
    width: 120px !important;
    margin: 0 !important;
}

    .urlTextField .m-input__prepend-outer .m-select fieldset {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .urlTextField .m-input__prepend-outer + .m-input__control .m-input__slot fieldset {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: 0 !important;
    }

.m-input__append-inner .d-flex {
    margin-top: 0 !important;
}

/*
    mapJsonKey
*/

.dashed {
    border: 1px dashed #e9edf7;
}

.hover-border-primary:hover {
    border-color: #4318FF !important;
}

    .hover-border-primary:hover .subtitle {
        color: #4318FF !important;
    }

/*
    stepper
*/

.m-stepper__items {
    height: 100%;
}

.m-stepper__content {
    height: 100%;
}

.radio-btn-default {
    font-family: 'Roboto';
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #7681AB !important;
}
.radio-btn-selected { /* Subtitle 2 */

    font-family: 'Roboto';
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #323D6F !important;
}

.m-label.theme--light {
    color: #A3AED0 !important;
}

.m-text-field__slot input {
    color: #323D6F !important;
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    letter-spacing: 0.25px !important;
}

.m-btn-group .m-item-group .m-btn.m-btn {
    padding: 0px 28px !important;
}
