@page "/protocol"
@inherits SsoCompontentBase
@inject IWebHostEnvironment _environment
@layout SimpleLayout

<MCard Width="1000" Style="height: calc(100vh - 200px) !important;overflow-y: scroll;" Class="pa-6">
    <p style="text-align:center;"><strong><span style="font-family:等线;font-size:20px;">服务协议</span></strong></p>
    <p style="text-align:left;">
        <span style="font-family:等线;font-size:14px;">欢迎使用</span><span style="font-family:等线;font-size:14px;">温州数闪科技MASA Stack 1.0</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">在接受本协议之前请您务必仔细阅读本协议的全部内容，充分理解条款内容。如果您对本协议的条款有疑问，请联系</span><span style="font-family:等线;font-size:14px;">marketing@masastack.com</span><span style="font-family:等线;font-size:14px;">进行询问。除非您已阅读并接受本协议，否则，您无权使用本服务。一旦您选择&ldquo;同意</span><span style="font-family:等线;font-size:14px;">MASA Stack 1.0</span><span style="font-family:等线;font-size:14px;">服务协议&rdquo;并完成注册流程，或您以任何方式使用本服务，即视为您已阅读并同意本服务协议的约束。</span><span style="font-family:等线;font-size:14px;">如果您不同意本服务协议中的条款，请不要安装、复制或使用本软件。如你有违反本协议的任何行为</span><span style="font-family:等线;font-size:14px;">温州数闪科技</span><span style="font-family:等线;font-size:14px;">有权根据您违反的情况随时单方采取限制、中止或终止向您提供服务等措施，并有权追究您相关责任。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">本服务协议（以下称&ldquo;本协议&rdquo;）由您与</span><span style="font-family:等线;font-size:14px;">温州数闪科技</span><span style="font-family:等线;font-size:14px;">共同签署。</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">有权修改本协议，更新后的协议条款将公布于官网或软件，自公布之日起生效。用户可重新下载或更新本产品或网站查阅最新版协议条款。在</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">修改本协议条款后，如果用户不接受修改后的条款，请立即停止使用&ldquo;</span><span style="font-family:等线;font-size:14px;">MASA Stack 1.0</span><span style="font-family:等线;font-size:14px;">&rdquo;软件和服务，用户继续使用</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">提供的&ldquo;</span><span style="font-family:等线;font-size:14px;">
            MASA Stack
            1.0
        </span><span style="font-family:等线;font-size:14px;">&rdquo;软件和服务将被视为已接受了修改后的协议。</span>
    </p>
    <p><span style="font-family:等线;font-size:14px;">如果您未满18周岁，请在法定监护人的陪同下阅读本协议及其它上述协议。</span></p>
    <ul style="list-style-type: undefined;margin-left:26px;">
        <li>
            <span style="font-family:等线;color:rgb(0,0,0);font-size:14.0000pt;color:rgb(0,0,0);">一．&nbsp;</span><strong>
                <span style="font-family:等线;font-size:14.0000pt;color:rgb(0,0,0);font-size:19px;">产品服务</span>
            </strong>
        </li>
    </ul>
    <p style="margin-left:10.5000pt;text-indent:-10.5000pt;">
        <span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">为您提供智能生活设备管理服务，您可以通过</span><span style="font-family:等线;font-size:14px;">MASA Stack 1.0</span><span style="font-family:等线;font-size:14px;">控制连接到</span><span style="font-family:等线;font-size:14px;">
            MASA
            Auth
        </span><span style="font-family:等线;font-size:14px;">，以实现</span><span style="font-family:等线;font-size:14px;">数字化系统</span><span style="font-family:等线;font-size:14px;">的联动。服务内容包含</span><span style="font-family:等线;font-size:14px;">数字化系统</span><span style="font-family:等线;font-size:14px;">管理、场景联动这些功能服务可能根据用户需求的变化或服务提供方的单方判断而优化或修改，也可能会因定期、不定期的维护而暂时停止提供服务。</span>
    </p>
    <ul style="list-style-type: undefined;margin-left:26px;">
        <li>
            <span style="font-family:等线;color:rgb(0,0,0);font-size:14.0000pt;color:rgb(0,0,0);">二．&nbsp;</span><strong>
                <span style="font-family:等线;font-size:14.0000pt;color:rgb(0,0,0);font-size:19px;">产品服务范围</span>
            </strong>
        </li>
    </ul>
    <p><span style="font-family:等线;font-size:14px;">2.1下载、安装和使用：本软件为免费软件，用户可以非商业性、无限制数量地下载、安装及使用本软件。</span></p>
    <p>
        <span style="font-family:等线;font-size:14px;">
            2.2复制、分发和传播：用户可以非商业性、无限制数量地复制、分发和传播本软件产品。但必须保证每一份复制、分发和传播都是完整和真实的,
            包括所有有关本软件产品的软件、电子文档, 版权和商标，亦包括本协议。如用户超越本许可范围，对本软件各项服务进行销售或用于其他商业用途，
        </span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">有权不通知用户立即终止向用户提供产品和服务，并依法追究其法律责任，要求其赔偿</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">的一切损失。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">2.3您应妥善保管好您的账号、密码，如您发现您的账号存在安全隐患（包括但不限于用户密码泄露），应及时联系</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">，</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">将会协助您采取相关措施。否则，您账号下的一切行为均由您负责，并由您承担一切责任。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">2.4用户必须选择与所安装终端设备相匹配的本软件产品版本，否则，由于软件产品与设备型号不相匹配所导致的任何产品问题、设备问题或损害，均由用户自行承担。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">2.</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">是为</span><span style="font-family:等线;font-size:14px;">
            MASA Stack
            1.0
        </span><span style="font-family:等线;font-size:14px;">提供软件支持服务的，是与</span><span style="font-family:等线;font-size:14px;">MASA Stack 1.0</span><span style="font-family:等线;font-size:14px;">配套使用的微信小程序服务。产品提供您购买设备的所有软件功能服务。</span>
    </p>
    <ul style="list-style-type: undefined;margin-left:26px;">
        <li>
            <span style="font-family:等线;color:rgb(0,0,0);font-size:14.0000pt;color:rgb(0,0,0);">三．&nbsp;</span><strong>
                <span style="font-family:等线;font-size:14.0000pt;color:rgb(0,0,0);font-size:19px;">用户权利及义务</span>
            </strong>
        </li>
    </ul>
    <p>
        <span style="font-family:等线;font-size:14px;">3.1合法使用</span><span style="font-family:等线;font-size:14px;">
            MASA Stack
            1.0
        </span><span style="font-family:等线;font-size:14px;">及服务的权力；</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">3.2在您合法所有设备上下载、安装、使用</span><span style="font-family:等线;font-size:14px;">MASA Stack 1.0</span><span style="font-family:等线;font-size:14px;">小程序服务的权力；</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">3.3用户账号的所有权归</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">所有，基于账号安全性的考虑，禁止使用他人手机号、邮箱地址注册</span><span style="font-family:等线;font-size:14px;">MASA Stack 1.0</span><span style="font-family:等线;font-size:14px;">账号。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">3.4您有权更改、删除在</span><span style="font-family:等线;font-size:14px;">
            MASA
            Stack 1.0
        </span><span style="font-family:等线;font-size:14px;">上的个人资料、注册信息，但需注意，删除有关信息的同时可能也会删除任何您存储在系统中的信息，用户需承担该风险。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">3.5您由责任妥善保管注册账号信息及账号密码的安全，您需要对注册账号以及密码下的行为承担法律责任。用户同意在任何情况下不使用其他成员的账号或密码。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">
            3.6禁止反向工程、反向编译和反向汇编：用户不得对本软件产品进行反向工程（Reverse
            Engineer）、反向编译（Decompile）或反向汇编（Disassemble），同时不得改动编译在程序文件内部的任何资源。除法律、法规明文规定允许上述活动外，用户必须遵守此协议限制。
        </span>
    </p>
    <p><span style="font-family:等线;font-size:14px;">3.7本软件产品是作为一个单一产品而被授予许可使用, 用户不得将各个部分分开用于任何目的。</span></p>
    <p>
        <span style="font-family:等线;font-size:14px;">3.8如需进行商业性的销售、复制、分发，包括但不限于软件销售、预装、捆绑等，必须获得</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">的书面授权和许可。</span>
    </p>
    <p><span style="font-family:等线;font-size:14px;">3.9禁止在未授权的情况下，收集其它用户的信息和数据，电子邮箱地址、电话；</span></p>
    <p><strong><span style="font-family:等线;color:rgb(0,0,0);font-size:19px;">四．服务风险及免责声明</span></strong></p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.1用户确认，其知悉本软件所有功能及</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">为实现本软件各功能所进行的必要操作，其根据自身需求自愿选择使用本软件及相关服务，因使用本软件及相关服务所存在的风险和一切后果将完全由其自己承担，</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">不承担任何责任。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.2本软件经过详细的测试，但不能保证与所有的软硬件系统完全兼容，不能保证本软件完全没有错误。如果出现不兼容及软件错误的情况，用户可拨打技术支持电话</span><span style="font-family:等线;font-size:14px;">4001666515</span><span style="font-family:等线;font-size:14px;">将情况报告</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">，获得技术支持。如果无法解决兼容性问题，用户可以删除本软件。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.3在适用法律允许的最大范围内，对因使用或不能使用本软件所产生的损害及风险，包括但不限于直接或间接的个人损害、商业赢利的丧失、贸易中断、商业信息的丢失或任何其它经济损失，</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">不承担任何责任。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.4对于因电信系统或互联网网络故障、计算机故障或病毒、信息损坏或丢失、计算机系统问题或其它任何不可抗力原因而产生损失，</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">不承担任何责任。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.5用户在使用软件服务的过程中应文明发言，并依法尊重其它用户的人格权与身份权等人身权利，共同建立和谐、文明、礼貌的网络社交环境。</span>
    </p>
    <p><span style="font-family:等线;font-size:14px;">4.6 用户在使用软件服务过程中，还必须遵循以下原则：</span></p>
    <p><span style="font-family:等线;font-size:14px;">4.6.1不得违反中华人民共和国法律法规及相关国际条约或规则；</span></p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.6.2不得违反与网络服务、</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">服务有关的网络协议、规定、程序及行业规则；</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.6.3不得违反法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等&ldquo;七条底线&rdquo;要求；</span>
    </p>
    <p><span style="font-family:等线;font-size:14px;">4.6.4不得进行任何可能对互联网或移动网正常运转造成不利影响的行为；</span></p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.6.5不得上传、展示或传播任何不实虚假、冒充性的、骚扰性的、中伤性的、攻击性的、辱骂性的、恐吓性的、种族歧视性的、诽谤诋毁、泄露隐私、成人情色、恶意抄袭的或其他任何非法的信息资料；</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.6.6不得以任何方式侵犯其他任何人依法享有的专利权、著作权、商标权等知识产权，或姓名权、名称权、名誉权、荣誉权、肖像权、隐私权等人身权益，或其他任何合法权益；</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.6.7不得以任何形式侵犯</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">的权利或利益或作出任何不利于</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">的行为；</span>
    </p>
    <p><span style="font-family:等线;font-size:14px;">4.6.8不得从事其他任何影响软件平台正常运营、破坏软件平台经营模式或其他有害软件平台生态的行为。</span></p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.7针对某些特定的</span><span style="font-family:等线;font-size:14px;">
            MASA Stack
            1.0
        </span><span style="font-family:等线;font-size:14px;">服务的使用规则及说明，</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">将通过各种方式（包括但不限于网页公告、系统通知、私信、短信提醒）作出的任何声明、通知、警示内容视为本协议的一部分，用户如使用</span><span style="font-family:等线;font-size:14px;">MASA Stack 1.0</span><span style="font-family:等线;font-size:14px;">服务，则视为用户同意该声明、通知、警示的内容。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">4.8用户违反本协议规定，对</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">造成损害的。</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">有权采取包括但不限于中断使用许可、停止提供服务、限制使用、法律追究措施。</span>
    </p>
    <p><strong><span style="font-family:等线;color:rgb(0,0,0);font-size:19px;">五．隐私政策与数据</span></strong></p>
    <p>
        <span style="font-family:等线;font-size:14px;">保护您的个人信息对</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">很重要，</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">制定了保护、您的信息收集、使用、存储方面关系内容进行了重要披露。建议您完整地阅读</span><span style="font-family:等线;font-size:14px;">MASA Stack 1.0</span><span style="font-family:等线;font-size:14px;">隐私声明；</span>
    </p>
    <p><strong><span style="font-family:等线;color:rgb(0,0,0);font-size:19px;">六．知识产权声明</span></strong></p>
    <p>
        <span style="font-family:等线;font-size:14px;">6.</span><span style="font-family:等线;font-size:14px;">1</span><span style="font-family:等线;font-size:14px;">&nbsp;</span><span style="font-family:等线;font-size:14px;">温州数闪科技</span><span style="font-family:等线;font-size:14px;">是本软件产品的知识产权权利人。本软件产品的一切著作权、商标权、专利权、商业秘密等知识产权，以及与本软件产品相关的所有信息内容（文字、图片、音频、视频、图表、界面设计、版面框架）均受您所在当地法律法规与相应的国际条约保护，</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">享有上述知识产权。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">6.2未经</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">书面同意，用户不得为任何商业或非商业目的自行或许可任何第三方实施、利用、转让上述知识产权，</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">保留追究上述行为法律责任的权利。</span>
    </p>
    <p><strong><span style="font-family:等线;color:rgb(0,0,0);font-size:19px;">七．协议变更</span></strong></p>
    <p>
        <span style="font-family:等线;font-size:14px;">7.</span><span style="font-family:等线;font-size:14px;">1</span><span style="font-family:等线;font-size:14px;">&nbsp;</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">有权在必要时修改本协议条款，协议条款一旦发生变动，将会在</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">官网页面或最新软件版本产品上公布修改后的协议条款。如果您不同意所改动的内容，应主动取消此项服务。如果您继续使用本软件产品服务，则视为接受本协议条款的变动。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">7.</span><span style="font-family:等线;font-size:14px;">2</span><span style="font-family:等线;font-size:14px;">&nbsp;</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">有权按需要修改或变更所提供的收费服务、收费标准、收费方式、服务费及服务条款。</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">在提供服务时，可能现在或日后对部分服务的用户开始收取一定的费用，如果用户拒绝支付该费用，则不能继续使用相关服务。</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">将尽最大努力通过电邮或其他方式通知用户有关修改或变更。</span>
    </p>
    <p><strong><span style="font-family:等线;color:rgb(0,0,0);font-size:19px;">八．法律及争议解决</span></strong></p>
    <p><span style="font-family:等线;font-size:14px;">8.1 本协议适用中华人民共和国法律。</span></p>
    <p>
        <span style="font-family:等线;font-size:14px;">
            8.2
            因本协议引起的或与本协议有关的任何争议，各方应友好协商解决；凡因本协议引起的或与本协议有关的任何争议，均应提交乐清人民法院仲裁，仲裁裁决对双方均具有约束力。
        </span>
    </p>
    <p><strong><span style="font-family:等线;color:rgb(0,0,0);font-size:19px;">九．其他</span></strong></p>
    <p>
        <span style="font-family:等线;font-size:14px;">
            9.1
            如果本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，或违反任何适用的法律，则该条款被视为删除，但本协议的其余条款仍应有效并且有约束力。
        </span>
    </p>
    <p><span style="font-family:等线;font-size:14px;">9.2 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</span></p>
    <p>
        <span style="font-family:等线;font-size:14px;">9.3</span><span style="font-family:等线;font-size:14px;">数闪科技</span><span style="font-family:等线;font-size:14px;">在法律允许的最大范围内对本协议拥有解释权与修改权。</span>
    </p>
    <p>
        <span style="font-family:等线;font-size:14px;">9.4本协议生效时间为20</span><span style="font-family:等线;font-size:14px;">20</span><span style="font-family:等线;font-size:14px;">年8月6日。</span>
    </p>
    <p><span style="font-family:等线;font-size:14px;">&nbsp;</span></p>
    <p><span style="font-family:等线;font-size:14px;">温州数闪科技</span></p>
    <p>
        <span style="font-family:等线;font-size:14px;">更新于2</span><span style="font-family:等线;font-size:14px;">02</span><span style="font-family:等线;font-size:14px;">3</span><span style="font-family:等线;font-size:14px;">年</span><span style="font-family:等线;font-size:14px;">1</span><span style="font-family:等线;font-size:14px;">月</span><span style="font-family:等线;font-size:14px;">15</span><span style="font-family:等线;font-size:14px;">日</span>
    </p>
</MCard>