@inherits AdminCompontentBase

<MCardText>
    <StaffSelect IgnoreValue="IgnoreStaffIds" @bind-Value="Value.Staffs" RoleLimit=RoleLimit Class="mb-6" Label="@T("Team Member")" />
    <RoleSelectForTeam @bind-Value="Value.Roles" ScopeItems="ScopeRoles" TeamUserCount=Value.Staffs.Count RoleLimitChanged="value => RoleLimit=value" Class="mb-6" Label="@T("Role")" />
    <div class="global-nav" style="max-height:calc(100vh - 450px);">
        <PermissionsConfigure Roles=Value.Roles
                              @bind-Value="Value.Permissions"
                              Preview=Preview                                     
                              PreviewChanged=PreviewChanged />
    </div>
</MCardText>

@* ScopeItems="ScopePermissions"
ScopeRoleItems="ScopeRoles"*@