@inherits AdminCompontentBase

<MCardText>
    <SearchSelectStaff @bind-Value="Value.Staffs" Class="mb-6" Label="@T("Team Member")"/>    
    <RoleSelectForTeam @bind-Value="Value.Roles" Class="mb-6" Label="@T("Role")"/> 
    <div class="global-nav" style="height: calc(100vh - 420px);">
        <PermissionsCheck RoleIds="Value.Roles" @bind-Value="Value.Permissions"/>
    </div>
</MCardText>