@using Masa.Auth.Web.Sso.Pages.Account.Login.RegisterSections
@inherits SsoCompontentBase
@inject IJSRuntime _js

<MForm Model="_inputModel" @ref="_registerForm" EnableValidation class="mt-6 pt-6 mx-12 text-center" Style="height: 430px; overflow: auto;">
    @foreach (var registerItem in _registerComponents.Values)
    {
        <DynamicComponent Type="@registerItem.ComponentType" Parameters="@registerItem.ComponentParameters" />
    }
    @*https://github.com/BlazorComponent/MASA.Blazor/issues/811*@
    <MCheckbox @bind-Value="_inputModel.Agreement" Class="mt-1" HideDetails="true">
        <LabelContent>
            @T("RegistrationAgreementStatement")
            <MButton Plain OnClick="()=> _protocolModalVisible = true" StopPropagation="true" Style="color:rgb(0,0,238);padding: 0;">《@T("RegistrationAgreement")》</MButton>
        </LabelContent>
    </MCheckbox>
</MForm>
<div class="text-center mt-3">
    <MButton Class="rounded-pill text-btn white--text" Disabled=!CanRegister
             OnClick="RegisterHandler" Height=48 Width=340 Color="primary" Loading="_registerLoading">
        @T("Register")
    </MButton>
</div>
<ProtocolModal @bind-Visible="_protocolModalVisible" OnSuccess="()=> _inputModel.Agreement = true" />